// Body
$body-bg: #383A59;
$card-bg: #282A36;
$primary: #9B59B6;
$success: #2ECC71;
$danger: #E91E63;
$info: #3498DB;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
